{% extends 'base.jinja2' %}

{% block subtitle %}Create a new donor{% endblock subtitle %}

{% block content %}
<form method="POST" action="/login/">
    <label for="name-input">UserName:</label><input id="name-input" type="text" name="name">
    <label for="amount-input">PassWord:</label><input id="amount-input" type="password" name="password">
    <input type="submit" value="Create donor">
</form>
{{ error }}
{% endblock content %}
