{% extends 'base.jinja2' %}

{% block subtitle %}Donor Inquiry: {% endblock subtitle %}

{% block content %}
    <hr><br>
    <form method="GET">
        <label for="name">Donor Name: </label><input type="text" id="name" name="name">
        <input type="submit" value="look It Up!!">
    </form>
    <form method="POST">
        <ul>
        {% for donation in all_donations %}
            <li>Donor Name:  <b>{{ donation.donor.name }}</b> ----  Amount Given:  $<b>{{ donation.value }}</b></li>
        {% endfor %}
        </ul><br>
    </form>
{% endblock content %}
