{% extends 'base.jinja2' %}

{% block subtitle %}Add a Donation{% endblock subtitle %}

{% block content %}
<form method="POST">
    <label for="donor">Donor: </label><input type="text" id="donor" name="donor"><br>
    <label for="amount">Amount: </label><input type="number" id="amount" name="amount"><br>
    <input type="submit" value="Add donation!">

</form>
{% endblock content %}